.btn{
    align-items:center;
    height:100px;
    width:100px;
    border-radius:10px;
    color:purple;
    font-family: "Times New Roman", Times, serif;
    font-size:5vmin;
    background-color:#ffffc7;
}

h1{
    text-align:center;
   font-size:50px;
}
body{
background-color:#216869;
}
.btn-1{
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  gap: 10px;
  justify-content: center; 
}
.rst{
  height:50px;
  width:100px;
  border-radius:100px;
  text-align:center;
  font-size:20px;
  margin:auto;
  color:white;
  background-color:black;
}
.b{
  margin:auto;
  display:grid;
  margin-top:10px;
}


.msg-container{
  display:grid;
  place-items:center;
}
.new{
  height:30px;
  width:100px;
  border-radius:100px;
  margin-bottom:10px;
  font-size:18px;
  font-family: "Times New Roman", Times, serif;
  font-style:bold;
  background-color:black;
  color:white;

}

p{
  font-size:30px;

}

.hide{
  display:none;
}
